__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

datasets/
splits/
outputs/
checkpoints/
weights/*
*.pt
*.pth
*.ckpt
!weights/
!weights/best_weights.pt
logs.txt

.ipynb_checkpoints/
.DS_Store
Thumbs.db
